<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Інформаційна система приймальної комісії</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Головна
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentapplications">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заяви на вступ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="specialties">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Спеціальності
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="universities">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заклади вищої освіти
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="applicants">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Абітурієнти
            </NavLink>
        </div>
    </nav>
</div>

