@page "/studentapplications/delete"
@using Microsoft.EntityFrameworkCore
@using StudentApplicationManagementSystem.Models
@inject IDbContextFactory<StudentApplicationManagementSystem.Data.StudentApplicationManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>


<div>
    <h2>Ви впевнені, що хочете видалити заяву?</h2>
    <hr />
    @if (studentapplication is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="studentapplication" OnValidSubmit="DeleteStudentApplication" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(studentapplication is null)">Видалити</button> |
            <a href="/studentapplications">Повернутися до списку</a>
        </EditForm>
    }
</div>

@code {
    private StudentApplication? studentapplication;

    [SupplyParameterFromQuery]
    private int StudentApplicationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        studentapplication = await context.StudentApplication.FirstOrDefaultAsync(m => m.StudentApplicationId == StudentApplicationId);

        if (studentapplication is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteStudentApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.StudentApplication.Remove(studentapplication!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/studentapplications");
    }
}
