@page "/studentapplications/edit"
@using Microsoft.EntityFrameworkCore
@using StudentApplicationManagementSystem.Models
@inject IDbContextFactory<StudentApplicationManagementSystem.Data.StudentApplicationManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>StudentApplication</h2>
<hr />
@if (StudentApplication is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="StudentApplication" OnValidSubmit="UpdateStudentApplication" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="StudentApplication.StudentApplicationId" value="@StudentApplication.StudentApplicationId" />
                <div class="mb-3">
                    <label for="studentapplicationstatusid" class="form-label">Оберіть статус заяви:</label>
                    <InputSelect id="studentapplicationstatusid" @bind-Value="StudentApplication.StudentApplicationStatusId">
                        <option>Оберіть статус заяви</option>
                        @foreach (var s in applicationStatuses)
                        {
                            <option value="@s.ApplicationStatusId">@s.ApplicationStatusName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => StudentApplication.StudentApplicationStatusId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/studentapplications">Повернутися до списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int StudentApplicationId { get; set; }

    [SupplyParameterFromForm]
    private StudentApplication? StudentApplication { get; set; }

    private List<ApplicationStatus> applicationStatuses;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        StudentApplication ??= await context.StudentApplication.FirstOrDefaultAsync(m => m.StudentApplicationId == StudentApplicationId);

        if (StudentApplication is null)
        {
            NavigationManager.NotFound();
        }
        applicationStatuses = context.ApplicationStatus.ToList();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStudentApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(StudentApplication!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentApplicationExists(StudentApplication!.StudentApplicationId))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/studentapplications");
    }

    private bool StudentApplicationExists(int studentapplicationid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.StudentApplication.Any(e => e.StudentApplicationId == studentapplicationid);
    }
}
