@page "/fundingtypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using StudentApplicationManagementSystem.Models
@using StudentApplicationManagementSystem.Data
@implements IAsyncDisposable
@inject IDbContextFactory<StudentApplicationManagementSystem.Data.StudentApplicationManagementSystemContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="fundingtypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.FundingType">
    <PropertyColumn Property="fundingtype => fundingtype.FundingTypeName" />

    <TemplateColumn Context="fundingtype">
        <a href="@($"fundingtypes/edit?fundingtypeid={fundingtype.FundingTypeId}")">Edit</a> |
        <a href="@($"fundingtypes/details?fundingtypeid={fundingtype.FundingTypeId}")">Details</a> |
        <a href="@($"fundingtypes/delete?fundingtypeid={fundingtype.FundingTypeId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private StudentApplicationManagementSystemContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
