@page "/universities/create"
@using Microsoft.EntityFrameworkCore
@using StudentApplicationManagementSystem.Models
@inject IDbContextFactory<StudentApplicationManagementSystem.Data.StudentApplicationManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Додати новий заклад вищої освіти</PageTitle>

<h1>Додати новий заклад вищої освіти</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="University" OnValidSubmit="AddUniversity" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="universityname" class="form-label">Назва ЗВО:</label> 
                <InputText id="universityname" @bind-Value="University.UniversityName" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => University.UniversityName" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Додати</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/universities">Повернутися до списку</a>
</div>

@code {
    [SupplyParameterFromForm]
    private University University { get; set; } = default!;

    protected override void OnInitialized() => University ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddUniversity()
    {
        using var context = DbFactory.CreateDbContext();
        context.University.Add(University);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/universities");
    }
}
